// Place all the styles related to the Jokees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo, #logo-2 {
  display: inline-block;
  padding: 20px 0;
}

#joke-title {
  padding: 93px 0;
  color: white;
  background-color: #2CB363;
}

#joke-content {
  padding-top: 70px;
  padding-bottom: 100px;
  border-bottom: 1px solid #ccc;

  #content {
    width: 80%;
    margin: 0 auto;
  }
}

#btn-like {
  background-color: #2B7EDA;
  border-color: #2B7EDA;
}

#btn-dislike {
  background-color: #2CB363;
  border-color: #2CB363;
}

#btn-like, #btn-dislike {
  padding: 14px 78px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#footer {
  margin-top: 40px;
  color: #9E9E9E;
}

#horizontal-line { width: 60%; margin: 0 auto; }

#title-1 { font-size: 30px; margin-bottom: 15px; }
#title-2 { font-size: 13px; }